<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Console Error">

	<test name="Console Error">

		<classes>

			<class name="Console.Error.Login_Console" />

			<class name="Console.Error.Signup_women_console" />
			
			<class name="Console.Error.Signup_men_console" />
			
			<class name="Console.Error.Contactus_console" />

            <class name="Console.Error.Fitting_Room_console" />
            
            <class name="Console.Error.Blog_console" />
            
            <class name="Console.Error.Men_console" />
            
            <class name="Console.Error.Women_console" />
            
            <class name="Console.Error.Terms_condition_console" />
            
            <class name="Console.Error.Privacy_policy_console" />
            

		</classes>


	</test>

</suite>
 