<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Console Error">

	<test name="Console Error">

		<classes>

			<class name="Console.Error.Login_Console" />

			<class name="Console.Error.Signup_women_console" />
			
			<class name="Console.Error.Signup_men_console" />



		</classes>



	</test>

</suite>
 